---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="О блоге — Пермяк на Неве" description="Пишу про разное в том числе и про АйТи">
  <article class="prose">
    <h1>О блоге</h1>
    <p>Привет, я Totaku. Пишу про разное: IT, игры, сериалы, аниме, места.</p>
  </article>
</BaseLayout>
